//=====================================================
//
// Logo Style
//
// =====================================================

// common
// ================================== //
.p-logo {

  width: 150px;
  font-size: 0;
  line-height: 1;

  .p-logo_link {
    display: block;
  }// .p-logo_link

  #p-logo_svg {
    fill: #EFEFEF;
    vertical-align: middle;
  }// #p-logo_svg

  #p-logo_path {
    vertical-align: middle;
  }// #p-logo_path

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
    width: 220px;
  }// @include mq(tab)
  @include mq(pc) {
    width: 240px;
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .p-logo
