//=====================================================
//
// Navigation Style
//
// =====================================================

// common
// ================================== //
.p-nav {

  display: none;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {

    display: block;
    height: 100%;

    .p-nav_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }// .p-nav_inner

    .p-nav_inner {
      height: 100%;
    }// .p-nav_inner

    .p-nav_item {
      height: 100%;
      padding: 0;
    }// .p-nav_item

    .p-nav_link {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 $ct_gutter;
      color: #FFF;
      text-decoration: none;
      transition: all .35s;
      &:hover {
        background-color: rgba(#000, .75);
      }// &:hover;
    }// .p-nav_link

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .p-nav
