// -------------------------------------------
// text
// -------------------------------------------

.text-indent-1 { text-indent: 1em; }
.text-decoration-line { text-decoration: line-through; }
.font-style-italic { font-style: italic; }
.font-weight-normal { font-weight: normal; }
.font-weight-bold { font-weight: bold; }
