//=====================================================
//
// Button Style
//
// =====================================================

// wrap
// ================================== //
.c-btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $ct_gutter * 2;
  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
    margin-top: $ct_gutter * 3;
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .c-btn_wrap


// button
// ================================== //
.c-btn {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $btn_bg_color_default;
  margin: .2rem;
  padding: .25rem 1.25rem;
  border-radius: .25rem;
  color: $btn_txt_color_default;
  font-size: fs(16);
  text-decoration: none;
  transition: all .35s;

  &:hover, &:focus {
    background-color: rgba($btn_bg_color_default, .75);
    color: $btn_txt_color_default;
  }// &:hover, &:focus

  .c-btn_icon {
    margin-left: $ct_gutter_half;
  }// .c-btn_icon

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)

  // caution
  &-caution {
    background-color: $btn_bg_color_caution;
    border-color: $btn_bdr_color_caution;
    color: $btn_txt_color_caution;
    &:hover, &:focus {
      background-color: rgba($btn_bg_color_caution, .75);
      color: $btn_txt_color_caution;
    }// &:hover, &:focus
  }// &-caution

  // primary
  &-primary {
    background-color: $btn_bg_color_primary;
    border-color: $btn_bdr_color_primary;
    color: $btn_txt_color_primary;
    &:hover, &:focus {
      background-color: rgba($btn_bg_color_primary, .75);
      color: $btn_txt_color_primary;
    }// &:hover, &:focus
  }// &-primary

  // secondary
  &-secondary {
    background-color: $btn_bg_color_secondary;
    border-color: $btn_bdr_color_secondary;
    color: $btn_txt_color_secondary;
    &:hover, &:focus {
      background-color: rgba($btn_bg_color_secondary, .75);
      color: $btn_txt_color_secondary;
    }// &:hover, &:focus
  }// &-secondary

  // tertiary
  &-tertiary {
    background-color: $btn_bg_color_tertiary;
    border-color: $btn_bdr_color_tertiary;
    color: $btn_txt_color_tertiary;
    &:hover, &:focus {
      background-color: rgba($btn_bg_color_tertiary, .75);
      color: $btn_txt_color_tertiary;
    }// &:hover, &:focus
  }// &-secondary

  // 装飾
  &-rounded {
    border-radius: 5px;
  }// &-rounded
  &-pill {
    border-radius: 1rem;
  }// &-pill
  &-full {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }// &-full
  &-block {
    display: block;
  }// &-block
  &-icon {
    .c-btn_txt {
      padding-left: $ct_gutter;
    }// .c-btn_txt
  }// &-icon

  // size
  &-small {
    font-size: fs(14);
  }// &-small
  &-large {
    font-size: fs(18);
    padding: .5rem 1.5rem;
  }// &-large
  &-xlarge {
    font-size: fs(20);
    padding: 1rem 2rem;
  }// &-xlarge

  // color
  &-black {
    background-color: $btn_bg_color_black;
    border-color: $btn_bdr_color_black;
    color: $btn_txt_color_black;
    &:hover, &:focus {
      background-color: rgba($btn_bg_color_black, .75);
      color: $btn_txt_color_black;
    }// &:hover, &:focus
  }// &-black

}// ..c-btn
