//=====================================================
//
// Skill Style
//
// =====================================================

// common
// ================================== //
.c-skill {

  margin-bottom: $ct_gutter * 1.5;

  .c-skill_row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }// .c-skill_row

  .c-skill_desc {
    position: relative;
    margin: 0;
    &::before, &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
    }// &::before, &::after;
    &::before {
      content: "★★★★★";
      z-index: 100;
      color: $font_color_splight;
    }// &::before;
    &::after {
      z-index: 110;
      color: $font_color_dark;
    }// &::after;
    &-1 {
      &::after {
        content: "★";
      }// &::after;
    }// &-1
    &-2 {
      &::after {
        content: "★★";
      }// &::after;
    }// &-2
    &-3 {
      &::after {
        content: "★★★";
      }// &::after;
    }// &-3
    &-4 {
      &::after {
        content: "★★★★";
      }// &::after;
    }// &-4
    &-5 {
      &::after {
        content: "★★★★★";
      }// &::after;
    }// &-5
    .p-skill_txt {
      display: block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }// .p-skill_txt
  }// .c-skill_desc

  @include mq(sp, max, true) {

    .c-skill_row {
      flex-wrap: wrap;
      margin: 0;
    }// .c-skill_row

    .c-skill_term {
      width: 50%;
      margin: 0;
      padding-right: $ct_gutter;
      white-space: nowrap;
      text-align: right;
    }// .c-skill_term

    .c-skill_desc {
      width: 50%;
    }// .c-skill_desc

  }// @include mq(sp, max, true)
  @include mq(tab) {

    max-width: 700px;
    margin: 0 auto $ct_gutter * 2;

    .c-skill_row {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }// .c-skill_row

    .c-skill_term {
      width: 7em;
      ~ .c-skill_term {
        margin-left: $ct_gutter * 4;
      }// ~ .c-skill_term
    }// .c-skill_term

    .c-skill_desc {
      width: 5em;
    }// .c-skill_desc

  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .c-skill
