//=====================================================
//
// SNS Style
//
// =====================================================

// common
// ================================== //
.c-sns {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: $ct_gutter ($ct_gutter / -2);
  padding: 0;
  list-style: none;
  line-height: 1;

  .c-sns_item {
    margin: 0 ($ct_gutter / 2);
    padding: 0;
  }// .c-sns_item

  .c-sns_link {
    display: block;
    color: $font_color;
    font-size: 0;
    text-decoration: none;
    transition: all .35s;
    &:hover {
      opacity: .75;
    }// &:hover;
  }// .c-sns_link

  .c-sns_icon {
    font-size: fs(26);
  }// .c-sns_icon

  .l-header & {
    .c-sns_link {
      color: #FFF;
      &:hover {
      }// &:hover;
    }// .c-sns_link
  }// .l-header &

  .l-footer & {
    .c-sns_link {
      color: #FFF;
      &:hover {
      }// &:hover;
    }// .c-sns_link
  }// .l-footer &

  .gnav & {
    justify-content: flex-start;
    height: $header_height_sp;
    margin: 0 ($ct_gutter / -2);
    padding: 0 $ct_gutter;
    .c-sns_item {
      margin-right: $ct_gutter_half;
    }// .c-sns_item
  }// .gnav &

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {

    .c-sns_icon {
      font-size: fs(32);
    }// .c-sns_icon

    .gnav & {
      height: $header_height_pc;
    }// .gnav &

  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .c-sns
