/* ===========================================
 Icon Font
=========================================== */
@font-face {
  font-family: "<%= fontName %>";
  src: url( "<%= fontPath %><%= fontName %>.eot?c=<%= timeStamp %>" );
  src: url( "<%= fontPath %><%= fontName %>.eot?#iefix?c=<%= timeStamp %>" ) format( "eot" ),
       url( "<%= fontPath %><%= fontName %>.woff?c=<%= timeStamp %>" ) format( "woff" ),
       url( "<%= fontPath %><%= fontName %>.ttf?c=<%= timeStamp %>" ) format( "truetype" ),
       url( "<%= fontPath %><%= fontName %>.svg#<%= fontName %>?c=<%= timeStamp %>" ) format( "svg" );
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="<%= className %>-"], [class*=" <%= className %>-"] {
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<% _.each( glyphs, function( glyph ) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString( 16 ).toUpperCase() %>" }
<% }); %>
