// =====================================================
//
// 色設定
//
// =====================================================

// サイトのベースカラー
// ================================== //

// body background value
$body_bg_value: #FFF;

// main color (base color)
$main_color: #3E75E1;

// sub color
$sub_color: #C5F4FF;

// accent color
$accent_color: #D2CBBB;

// base text color
$font_color: #333;
$font_color_light: #666;
$font_color_exlight: #999;
$font_color_splight: #CCC;
$font_color_dark: #000;

// variants
$base_primary_bg: #b0d3f8;
$base_primary_text: #004085;
$base_secondary_bg: #e2e3e5;
$base_secondary_text: #383d41;
$base_success_bg: #d4edda;
$base_success_text: #155724;
$base_danger_bg: #f8d7da;
$base_danger_text: #721c24;
$base_warning_bg: #fff3cd;
$base_warning_text: #856404;
$base_info_bg: #d1ecf1;
$base_info_text: #0c5460;
$base_light_bg: #fefefe;
$base_light_text: #818182;
$base_dark_bg: #d6d8d9;
$base_dark_text: #1b1e21;
$base_white_bg: #fff;
$base_white_text: #fff;
$base_black_bg: #696969;
$base_black_text: #333;

// Link
// ================================== //

// base link color
$link_color_primary: #00C;
$link_color_hover: #F60;
$link_color_active: #00F;
$link_color_visited: #551A8B;
$link_bg_color: #FFF0D9;

$link_color_secondary: $accent_color;
$link_color_tertiary: #0064FF;


// Button
// ================================== //

$btn_default_bg: #e0e0e0;
$btn_default_bg_hover: #f5f5f5;
$btn_default_text: #333;

$btn_primary_bg: #007bff;
$btn_primary_bg_hover: #0069d9;
$btn_primary_text: #fff;

$btn_secondary_bg: #545b62;
$btn_secondary_bg_hover: #5a6268;
$btn_secondary_text: #fff;

$btn_success_bg: #1e7e34;
$btn_success_bg_hover: #218838;
$btn_success_text: #fff;

$btn_danger_bg: #bd2130;
$btn_danger_bg_hover: #c82333;
$btn_danger_text: #fff;

$btn_warning_bg: #d39e00;
$btn_warning_bg_hover: #e0a800;
$btn_warning_text: #212529;

$btn_info_bg: #117a8b;
$btn_info_bg_hover: #138496;
$btn_info_text: #fff;

$btn_light_bg: #dae0e5;
$btn_light_bg_hover: #e2e6ea;
$btn_light_text: #212529;

$btn_dark_bg: #1d2124;
$btn_dark_bg_hover: #23272b;
$btn_dark_text: #fff;

$btn_white_bg: #eee;
$btn_white_bg_hover: #fff;
$btn_white_text: #212529;

$btn_black_bg: #000;
$btn_black_bg_hover: #333;
$btn_black_text: #fff;


// form カラー
// ================================== //

// チェックボックス＆ラジオボタン
$ui_input_bdr_color: #555;
$ui_input_bg_color: #FFF;
$ui_input_txt_color: $font_color;
$ui_input_checked_color: $main_color;
