// =====================================================
//
// VARIABLES
//
// =====================================================

// style config
// ================================== //

// columns
$columns: 12;

// Media Query
$mq-breakpoints: (
  'sp'   : 540px,
  'tab'  : 767px,
  'pc'   : 1023px,
  'wide' : 1280px,
);

// Assign Site Width
$site_width: 1200px;
$ct_gutter: 1rem;
$ct_gutter_half: $ct_gutter / 2;

// element margin
$base_mg: $ct_gutter;

// element padding
$base_pd: $ct_gutter;

// header height
$base_header_height_sp: 50px;
$base_header_height_pc: 70px;

// Font
// ================================== //

// Base font-size
$font_size: 16;
// Base line-height
$line_height: 1.6;

// Base font-family
$font_family: 'Nunito', 'M PLUS 1p', 'Helvetica Neue', 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
$ff_M1: 'M PLUS 1p', sans-serif;
$ff_Nunito: 'Nunito', sans-serif;

