// -------------------------------------------
// display
// -------------------------------------------

// clearfix
// ================================== //
@mixin cf {
  &:after {
    content: "";
    display: block;
    clear: both;
  }// &:after
}
